<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="MyListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/ramprudhvi/IdeaProjects/Orange_Hrm/src/test/java/test_Login.java">
        <classes>
            <class name="test_Login"></class>
                </classes>
    </test>
</suite>